/* GENERAL */
:root {
  --main-color: #1c79d5;
  --color-text: #333;
  --body-background-color: rgb(230, 230, 230);
  --shadow: 0 0 10px 0.25rem rgb(13 110 253 / 10%);
  --cards-shadow: 6px 6px 3px 0 rgb(0 0 0 / 7%);
  --section-margin: 20px;
  --light-blue: #e5f5fc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text) !important;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--body-background-color);
  padding: 16px;
  overflow: hidden;
}
.loading-screen{
  background: var(--body-background-color);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4444;
  display: grid;
  place-items: center;
}
.body-padding-top{
  padding-top: 87.2px;
}
.btn-check:focus+.btn-add,
.btn-add:focus,
.btn-add:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-primary {
  background: var(--main-color);
}
.btn-primary:focus {
  box-shadow: none;
}
.btn:active:focus {
  box-shadow: none;
}
.section-style {
  background-color: #fff;
  padding: 20px;
  border-top: 2px solid var(--main-color);
  margin-bottom: var(--section-margin);
  overflow: auto;
}
.no-wrap{
  white-space: nowrap;
}

/* CONTENT */
.heading {
  border-radius: 0.5rem;
  padding: 25px 30px;
  margin-bottom: var(--section-margin);
  background-color: #fff;
  position: relative;
}
.heading::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(28, 121, 213);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* add button */
.btn-add {
  min-width: 146.9px;
  background: var(--main-color);
  transition: box-shadow 0.3s;
  border: none;
}
@media (max-width: 640px) {
  .btn-add {
    display: block;
    margin: auto;
    margin-top: 7px;
  }
}
.btn.btn-add:focus {
  box-shadow: 0 0 10px 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
}
.btn.btn-add:hover {
  box-shadow: none;
}
/* search button */
.search-width{
  max-width: 194.8px;
}
.form-control {
  width: initial;
  display: inline-block;
  margin-right: 5px;
}
.form-control:focus {
  box-shadow: var(--shadow);
}
.form-select:focus {
  box-shadow: var(--shadow);
}
.dataTables_length .form-select {
  display: inline-block;
  width: initial;
  padding: 0.375rem 0.75rem 0.375rem 1.3rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left 0.3rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* form style */
/* hiding input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  direction: rtl;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  direction: rtl;
}
#deleteModal .modal-header,
#deleteModal .modal-footer,
#deleteModal .modal-body{
  border: none;
  padding: 10px;
}
#deleteModal .modal-footer {
  justify-content: center;
}
#deleteModal .modal-body {
  text-align: center;
  font-size: 19px;
}
form .form-control{
  width: 100%;
}
form.row>*{
  margin-top: 1rem;
}
/* table */
.table{
  --bs-table-striped-bg: rgba(0, 0, 0, 0.03);
}
table.dataTable.no-footer {
  padding-top: 20px;
  font-size: 0.9rem;
  border-bottom: 1px solid #ddd;
}
table.dataTable thead th,
table.dataTable thead td{
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}
tr {
  border-bottom: none;
  border-style: none;
  border-color: transparent;
  border-width: 0;
}
.btn-delete path{
  fill: var(--bs-danger);
}
.btn-edit path{
  fill: var(--main-color);
}
.btn-delete:hover,
.btn-edit:hover{
  border-color: transparent;
  background-color: transparent;
}
/* pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #0183bf !important;
}
.dataTables_wrapper .dataTables_paginate span .paginate_button{
  border-style: solid;
  border-width: 1px;
  border-color: #ddd transparent #ddd #ddd;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #0183bf !important;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd transparent #ddd #ddd;
  background-color: transparent;
  background: none;
}
.btn {
  color: #ebe8e8 !important;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color) !important;
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}
.page-link {
  color: var(--bs-pagination-color) !important;
  background-color: var(--bs-pagination-bg);
}
.disabled .page-link {
  color: var(--bs-pagination-disabled-color) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.375rem 0.75rem;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled{
  border-style: solid;
  border-width: 1px;
  border-color: #ddd transparent #ddd #ddd;
  border-radius: 0.3rem 0 0 0.3rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled{
  border: 1px solid #ddd;
  border-radius: 0 0.3rem 0.3rem 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button path{
  fill: var(--main-color);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled path{
  fill: #666;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0.2rem 0.6rem 0.24rem;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd transparent #ddd #ddd;
  color: var(--main-color) !important;
}
.dataTables_wrapper .dataTables_paginate{
  padding-top: 0.755em;
}
.nav-pagination {
  width: fit-content;
  margin: auto;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ebe8ee !important;
  border: 1px solid var(--main-color);
  background: none;
  background-color: var(--main-color);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  box-shadow: none;
}
